* { /* reset! */
	margin: 0px;
	padding: 0px;

	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	color: white;
}

html {
	background: black url(img/body-bg.png) repeat center top;
	background-attachment:fixed;
}

body {
	background: transparent url(img/light-source-trans.png) no-repeat scroll center top;
	min-height: 800px;
}

#wrapper {
	width: 940px;
	margin: 0px auto;
}

#header {
	padding: 10px;

}

#header h1 {
	display: inline;
	font-size: 36px;
}

#header p {
	float: right;
	clear: right;
}