.mainsection {
	padding: 0px 15px;
}

#oneone {
	border: 1px solid purple;
}

#onetwo {
	border: 1px solid pink;
}

#twoone {
	border: 1px solid gray;
}

#twotwo {
	border: 1px solid lightgray;
}

.featuredImage {
	width: 100%;
}

h2 {
	margin-top: 0px; /* reset default */
}

